:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ee4d2d;
}
*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;   /* 100% = 16px, để 62.5% = 10px cho dễ căn = rem */
    line-height: 1.6rem;    /* 1.6rem = 16px */
    font-family: 'Roboto', sans-serif;  /* Insert font chữ */
    box-sizing: border-box;
}

/* Responsive: giao diện với các kích cỡ màn hình khác nhau */
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;    /* Dài hơn mh tự xuống dòng */
}
/* Animation */
@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes growth{
    from{
        transform: scale(0.6);
    }
    to{
        transform: scale(1);
    }
}
/* Modal  */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: fadein linear 0.2s;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;     /* z index nhỏ hơn thì ở lớp dưới */
}
.modal__body{
    width: 400px;
    height: 400px;
    background-color: white;
    margin: auto;
    position: relative;
    z-index: 2;     /* z index lớn hơn thì ở lớp trên, che phủ lớp dưới */
    border-radius: 5px;
}
/* Button style */
.btn{
    min-width: 140px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    align-items: center;
    padding: 0;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
.btn.btn--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.btn.btn--disabled{
    cursor: default;
    color: #949494;
    background-color: #c3c3c3;
}
.btn.btn--size-s{
    height: 32px;
    font-size: 12px;
}
.container{
    height: 120px;
}
.footer__5col{
    color: #737373;
    font-size: 1.25rem;
}
.footer__5col-container,
.footer__mid-container{
    width: 1351px;
    background-color: #fbfbfb;
    margin: 0 --75px;
}
.footer{
    width: 1351px;
    margin-left: -10px;
}